/* html{
    border: 2px blue solid;
} */

body{
    background-image: url('../content/purplegalaxy.png');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indexNavBar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px blue solid;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: black;
    color: white;
}

.interact{
    border:2px yellow solid;
    background-color: blue;
    text-align: center;
    margin: 1%;
}

.mainBodyDiv{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
}


.introductory{
    height: 100%;
    display: grid;
    grid-template-columns: auto 50vw auto;
    grid-template-rows: auto 30vh auto;
}

.introTitle{
    font-size: 3.5vw;
}

.introContent{
    text-align: center;
    font-size: 2.5vw;
    color: white;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(0,0,0,0.80);
    border: 0px;
    border-radius: 25px;
    border-color: white;
    border-style: solid;

    display: grid;
    grid-template-columns: auto;
    transition: all 1.25s;
}

.introContent:hover{
    text-align: center;
    font-size: 2.6vw;
    color: white;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(20, 20, 20, 0.9);
    border: 0px;
    border-radius: 25px;
    border-color: white;
    border-style: solid;

    display: grid;
    grid-template-columns: auto;
}

.introTitle{
    grid-row: 2;
}

.introText{
    color:white;
    margin-left: 0.25vw;
    transition: color 0.5s;
}

.introText2{
    color:rgba(0,0,0,0);
    margin-left: 0.25vw;
    transition: color 0.5s;
}

.changeTextHolder {
    display: grid;
    grid-template-columns: auto 35%;
    justify-content: center;
    text-wrap: nowrap;
    grid-row: 3;
}